/* .App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-input-container,
.task-lists-container {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.task-list,
.completed-task-list {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-input-container input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.task-input-container button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input-container button:hover {
  background-color: #218838;
}

button {
  margin-left: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
  gap: 1.5rem;
}

li span {
  flex-grow: 1;
  text-align: left;
} */


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-input-container,
.task-lists-container {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
}

.task-list,
.completed-task-list {
  margin-top: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task-input-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  width: 100%;
  margin-bottom: 10px;
}

.input-group label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.input-group input {
  width: 97%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.task-input-container button {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-input-container button:hover {
  background-color: #218838;
  width: 100%;
}

button {
  margin-left: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li span {
  flex-grow: 1;
  text-align: left;
}
